<div>
	<p>The University of Texas at El Paso</p>
	<p>Department of Computer Science</p>
	<p>Course Title: Data Mining</p>
	<p>Course No.: CS 5354 (Topics in Intelligent Computing)</p>
	<p>Spring 2015</p>
</div>

<div>
	<h1>Using Yelp text reviews to predict future business ratings</h1>
</div>


<div>
	<p>All the code is stored in a <a href='https://bitbucket.org/AnatoleSerial/datamining/'>public BitBucket repo</a>.</p>
</div>

<div>Other Files:
<ul>
	<li><a href='/datamining/final_report.pdf'>Final report</a>
	<li><a href='/datamining/final_presentation.pptx'>Final presentation</a>
</ul>
</div>

<!-- No bells, no whistles. -->